<div class="container">
    <h1>Settings</h1>
    <p>Kiểm soát cách blockchain hoạt động khi các giao dịch hoặc Block mới được tạo. Các thay đổi được lưu tự động.</p>

    <br>

    <div class="form-group">
        <label for="difficulty">Difficulty</label>
        <input type="number" class="form-control" id="difficulty" aria-describedby="difficultyHelp" [(ngModel)]="blockchain.difficulty">
        <small id="difficultyHelp" class="form-text text-muted">
    	Difficulty kiểm soát quá trình khai thác diễn ra trong bao lâu. Difficulty cao hơn sẽ làm cho việc khai thác chậm hơn rất nhiều!
    	<br>Default: 2
    </small>
    </div>

    <br>

    <!-- <div class="form-group">
        <label for="miningReward">Mining reward</label>
        <input type="number" class="form-control" id="miningReward" aria-describedby="miningRewardHelp" [(ngModel)]="blockchain.miningReward">
        <small id="miningRewardHelp" class="form-text text-muted">
          Miner nhận được bao nhiêu "coin" khi tạo thành công một Block cho chuỗi.
		<br>Default: 100
    </small>
    </div> -->

</div>